ipykernel
pandas
matplotlib
scikit-learn
keras
Pillow
colorspacious
numpy
opencv-python
json5
tensorflow
jupyterlab
mediapipe
anyio
argon2-cffi
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
certifi
cffi
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
filelock
fonttools
future
idna
importlib-metadata
ipykernel
ipython
json5
matplotlib
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
opencv-python
packaging
pandocfilters
parso
Pillow
pip
pkginfo
platformdirs
pluggy
ply
portalocker
prometheus-client
prompt-toolkit
psutil
py-spy
pycosat
pycparser
pydantic
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
semver
Send2Trash
setuptools
sip
six
sniffio
sounddevice
soupsieve
stack-data
sympy
tabulate
termcolor
terminado
tinycss2
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
truststore
typing_extensions
ujson
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
wincertstore
zipp
zstandard
